In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv'

In [3]:
!wget $data -O data-week-3.csv

--2021-09-23 15:27:59--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/plain]
Saving to: 'data-week-3.csv'

     0K .......... .......... .......... .......... ..........  5% 1.84M 0s
    50K .......... .......... .......... .......... .......... 10% 2.83M 0s
   100K .......... .......... .......... .......... .......... 15% 4.32M 0s
   150K .......... .......... .......... .......... .......... 20% 4.44M 0s
   200K .......... .......... .......... .......... .......... 26% 3.83M 0s
   250K .......... .......... .......... .......... .......... 31% 4.70M 0s
   300K .......... .......... .......... .......... .......... 36% 4.48M 0s
   350K .......... .......... .......... .......... .......... 41% 3.39M 0s
   400K .......... .......... .......... .......... .......... 47% 4.76M 0s
   450K .......... .......... .......... .......... .......... 52% 4.97M 0s
   500K .......... .......... .......... .......... .......... 57% 4.65M 0s
   550K .......... .......... .......... .......... .......... 62% 3.06M 0s
   600K .......... .......... .......... .......... .......... 68% 3.05M 0s
   650K .......... .......... .......... .......... .......... 73% 6.41M 0s
   700K .......... .......... .......... .......... .......... 78% 4.98M 0s
   750K .......... .......... .......... .......... .......... 83% 4.62M 0s
   800K .......... .......... .......... .......... .......... 89% 5.05M 0s
   850K .......... .......... .......... .......... .......... 94% 6.54M 0s
   900K .......... .......... .......... .......... .......... 99% 6.41M 0s
   950K ....                                                  100% 40.1M=0.2s

2021-09-23 15:28:00 (4.06 MB/s) - 'data-week-3.csv' saved [977501/977501]

In [4]:
df = pd.read_csv('data-week-3.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [6]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [7]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [8]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [9]:
df.head().T

,0,1,2,3,4
customerid,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
seniorcitizen,0,0,0,0,0
partner,Yes,No,No,No,No
dependents,No,No,No,No,No
tenure,1,34,2,45,2
phoneservice,No,Yes,Yes,No,Yes
multiplelines,No phone service,No,No,No phone service,No
internetservice,DSL,DSL,DSL,DSL,Fiber optic
onlinesecurity,No,Yes,Yes,Yes,No
onlinebackup,Yes,No,Yes,No,No
deviceprotection,No,Yes,No,Yes,No
techsupport,No,No,No,Yes,No
streamingtv,No,No,No,No,No
streamingmovies,No,No,No,No,No
contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
paperlessbilling,Yes,No,Yes,No,Yes
paymentmethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,No,No,Yes,No,Yes

In [10]:
categorical_columns = list(df.dtypes[df.dtypes=='object'].index)

In [11]:
categorical_columns

['customerid',
 'gender',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'totalcharges',
 'churn']

In [12]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [13]:
for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ','_')

In [14]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [15]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [16]:
df.totalcharges

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: totalcharges, Length: 7043, dtype: object

In [17]:
df.totalcharges = pd.to_numeric(df.totalcharges,errors='coerce')

In [18]:
df.totalcharges.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: totalcharges, Length: 7043, dtype: bool

In [19]:
df[df.totalcharges.isnull()][['customerid','totalcharges']]

      customerid  totalcharges
488   4472-lvygi           NaN
753   3115-czmzd           NaN
936   5709-lvoeq           NaN
1082  4367-nuyao           NaN
1340  1371-dwpaz           NaN
3331  7644-omvmy           NaN
3826  3213-vvolg           NaN
4380  2520-sgtta           NaN
5218  2923-arzlg           NaN
6670  4075-wkniu           NaN
6754  2775-sefee           NaN

In [20]:
df.totalcharges = df.totalcharges.fillna(0)

In [21]:
df[df.totalcharges.isnull()][['customerid','totalcharges']]

Empty DataFrame
Columns: [customerid, totalcharges]
Index: []

In [22]:
df.churn

0        no
1        no
2       yes
3        no
4       yes
       ...
7038     no
7039     no
7040     no
7041    yes
7042     no
Name: churn, Length: 7043, dtype: object

In [23]:
df.churn = (df.churn=='yes').astype(int)

In [24]:
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int32

Setting up Validation framework

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
df_full_train,df_test = train_test_split(df,test_size = 0.2,random_state = 1)

In [27]:
len(df_full_train),len(df_test)

(5634, 1409)

In [28]:
df_train,df_val = train_test_split(df_full_train,test_size=0.25,random_state=1)

In [29]:
len(df_train),len(df_val),len(df_test)

(4225, 1409, 1409)

In [30]:
#resetindex
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

#target_variables
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

#delete_target_values_from_dataframe
del df_train['churn']
del df_val['churn']
del df_test['churn']

EDA - NUMERICAL AND CATEGORICAL VARIABLES

In [31]:
df_full_train = df_full_train.reset_index(drop=True)

In [32]:
df_full_train.churn.value_counts(normalize=True)

0    0.730032
1    0.269968
Name: churn, dtype: float64

In [33]:
global_churn_rate = df_full_train.churn.mean()

In [34]:
round(global_churn_rate,2)

0.27

In [35]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int32
dtype: object

In [36]:
numerical = ['tenure','monthlycharges','totalcharges']

In [37]:
categorical =['gender', 'seniorcitizen', 'partner', 'dependents','phoneservice',
        'multiplelines', 'internetservice',
        'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
        'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
        'paymentmethod']

In [38]:
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

Feature Importance: Churn Rate And Risk Ratio

Churn rate

In [39]:
df_full_train.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
1,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
2,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
3,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
4,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

In [40]:
churn_female = df_full_train[df_full_train.gender=='female'].churn.mean()
churn_female

0.27682403433476394

In [41]:
churn_male = df_full_train[df_full_train.gender=='male'].churn.mean()
churn_male

0.2632135306553911

In [42]:
churn_with_partner = df_full_train[df_full_train.partner =='yes'].churn.mean()
churn_with_partner

0.20503330866025166

In [43]:
churn_no_partner = df_full_train[df_full_train.partner =='no'].churn.mean()
churn_no_partner

0.3298090040927694

In [44]:
global_churn_rate

0.26996805111821087

Risk Ratio


Risk = Group/Global

If Risk >1 - More likely to churn
If Risk<1 - Less likely to churn

In [45]:
churn_no_partner/global_churn_rate

1.2216593879412643

In [46]:
from IPython.display import display

In [47]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean','count'])
    df_group['diff'] = df_group['mean'] - global_churn_rate
    df_group['risk'] = df_group['mean']/global_churn_rate
    display(df_group)
    print('\n')

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561  0.953474
no_phone_service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber_optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  1.551717
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  1.269897
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  1.599082
one_year        0.120573   1186 -0.149395  0.446621
two_year        0.028274   1344 -0.241694  0.104730

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217 -0.105630  0.608733
electronic_check           0.455890   1893  0.185922  1.688682
mailed_check               0.193870   1305 -0.076098  0.718121

Feature Importance: Mutual Information

Mutual information- concept from information theory, it tells us how much we can learn about one variable if we know the value of another
* https://en.wikipedia.org/wiki/Mutual_ information

In [48]:
from sklearn.metrics import mutual_info_score

In [49]:
#same regardless of the order of arguments
mutual_info_score(df_full_train.churn, df_full_train.contract)

0.0983203874041556

In [50]:
mutual_info_score(df_full_train.churn, df_full_train.gender)

0.0001174846211139946

In [51]:
def mutual_info_churn_score(series):
    return mutual_info_score(series, df_full_train.churn)

In [52]:
mutual_info = df_full_train[categorical].apply(mutual_info_churn_score)

In [53]:
mutual_info.sort_values(ascending= False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

In [54]:
mutual_info.gender

0.0001174846211139946

3.7 Feature importance: Correlation

How about numerical columns?

Correlation coefficient- https://en.wikipedia.org/wikiPearson_correlation_coefficient

In [55]:
df_full_train.tenure.max()

72

In [56]:
df_full_train[numerical]

      tenure  monthlycharges  totalcharges
0         12           19.70        258.35
1         42           73.90       3160.55
2         71           65.15       4681.75
3         71           85.45       6300.85
4         30           70.40       2044.75
...      ...             ...           ...
5629       9          100.50        918.60
5630      60           19.95       1189.90
5631      28          105.70       2979.50
5632       2           54.40        114.10
5633      16           68.25       1114.85

[5634 rows x 3 columns]

In [57]:
df_full_train[numerical].corrwith(df_full_train.churn)

tenure           -0.351885
monthlycharges    0.196805
totalcharges     -0.196353
dtype: float64

In [58]:
df_full_train[df_full_train.tenure >3].churn.mean()

0.21706398996235884

3.8 One-hot encoding


Use Scikit-Learn to encode categorical features

In [59]:
#one-hot-encoding with sklearn
from sklearn.feature_extraction import DictVectorizer

In [60]:
df_train[['gender','contract']].iloc[:100]

    gender        contract
0   female        two_year
1     male  month-to-month
2   female  month-to-month
3   female  month-to-month
4   female        two_year
..     ...             ...
95    male        one_year
96  female  month-to-month
97    male  month-to-month
98    male        one_year
99    male  month-to-month

[100 rows x 2 columns]

In [61]:
#converting to dictionary
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [62]:
train_dicts[0]

{'gender': 'female',
 'seniorcitizen': 0,
 'partner': 'yes',
 'dependents': 'yes',
 'phoneservice': 'yes',
 'multiplelines': 'yes',
 'internetservice': 'fiber_optic',
 'onlinesecurity': 'yes',
 'onlinebackup': 'yes',
 'deviceprotection': 'yes',
 'techsupport': 'yes',
 'streamingtv': 'yes',
 'streamingmovies': 'yes',
 'contract': 'two_year',
 'paperlessbilling': 'yes',
 'paymentmethod': 'electronic_check',
 'tenure': 72,
 'monthlycharges': 115.5,
 'totalcharges': 8425.15}

In [63]:
dv = DictVectorizer(sparse = False)

In [64]:
dv.fit(train_dicts)
X_train = dv.transform(train_dicts)

In [65]:
dv.get_feature_names()

['contract=month-to-month',
 'contract=one_year',
 'contract=two_year',
 'dependents=no',
 'dependents=yes',
 'deviceprotection=no',
 'deviceprotection=no_internet_service',
 'deviceprotection=yes',
 'gender=female',
 'gender=male',
 'internetservice=dsl',
 'internetservice=fiber_optic',
 'internetservice=no',
 'monthlycharges',
 'multiplelines=no',
 'multiplelines=no_phone_service',
 'multiplelines=yes',
 'onlinebackup=no',
 'onlinebackup=no_internet_service',
 'onlinebackup=yes',
 'onlinesecurity=no',
 'onlinesecurity=no_internet_service',
 'onlinesecurity=yes',
 'paperlessbilling=no',
 'paperlessbilling=yes',
 'partner=no',
 'partner=yes',
 'paymentmethod=bank_transfer_(automatic)',
 'paymentmethod=credit_card_(automatic)',
 'paymentmethod=electronic_check',
 'paymentmethod=mailed_check',
 'phoneservice=no',
 'phoneservice=yes',
 'seniorcitizen',
 'streamingmovies=no',
 'streamingmovies=no_internet_service',
 'streamingmovies=yes',
 'streamingtv=no',
 'streamingtv=no_internet_service',
 'streamingtv=yes',
 'techsupport=no',
 'techsupport=no_internet_service',
 'techsupport=yes',
 'tenure',
 'totalcharges']

In [66]:
X_train

array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        7.20000e+01, 8.42515e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+01, 1.02155e+03],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        5.00000e+00, 4.13650e+02],
       ...,
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.00000e+00, 1.90050e+02],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        2.70000e+01, 7.61950e+02],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        9.00000e+00, 7.51650e+02]])

In [67]:
X_train.shape

(4225, 45)

In [68]:
val_dicts = df_val[categorical+numerical].to_dict(orient='records')

In [69]:
X_val = dv.transform(val_dicts)

In [70]:
X_val.shape

(1409, 45)

3.9 Logistic regression

Binary classification

Linear vs logistic regression

In [71]:
def sigmoid(z):
    return (1/(1+np.exp(-z)))

In [72]:
z = np.linspace(-7.5,8,61)

In [73]:
sigmoid(z)

array([5.52778637e-04, 7.15604779e-04, 9.26348438e-04, 1.19908106e-03,
       1.55198603e-03, 2.00854661e-03, 2.59906776e-03, 3.36261964e-03,
       4.34950893e-03, 5.62440406e-03, 7.27025813e-03, 9.39318444e-03,
       1.21284350e-02, 1.56475961e-02, 2.01670239e-02, 2.59573572e-02,
       3.33536123e-02, 4.27648189e-02, 5.46813172e-02, 6.96766690e-02,
       8.83996772e-02, 1.11550540e-01, 1.39834327e-01, 1.73885933e-01,
       2.14165017e-01, 2.60828537e-01, 3.13601921e-01, 3.71683812e-01,
       4.33725606e-01, 4.97916679e-01, 5.62176501e-01, 6.24415688e-01,
       6.82799386e-01, 7.35945394e-01, 7.83016649e-01, 8.23706879e-01,
       8.58148935e-01, 8.86786951e-01, 9.10247991e-01, 9.29235188e-01,
       9.44450740e-01, 9.56547691e-01, 9.66104836e-01, 9.73617904e-01,
       9.79500990e-01, 9.84093608e-01, 9.87670244e-01, 9.90450458e-01,
       9.92608459e-01, 9.94281611e-01, 9.95577715e-01, 9.96581060e-01,
       9.97357367e-01, 9.97957766e-01, 9.98421972e-01, 9.98780791e-01,
       9.99058098e-01, 9.99272377e-01, 9.99437936e-01, 9.99565842e-01,
       9.99664650e-01])

In [74]:
#without_sigmoid
def linear_reg(xi):
    result = W0

    for i in range(len(w)):
        result = result + xi[i]*w[i]
    return result

In [75]:
#with_sigmoid
def linear_reg(xi):
    result = W0

    for i in range(len(w)):
        result = result + xi[i]*w[i]
    score = sigmoid(result)
    return score

3.10 Training logistic regression with Scikit-Learn

Train a model with Scikit-Learn

Apply it to the validation dataset

Calculate the accuracy

In [76]:
from sklearn.linear_model import LogisticRegression

In [77]:
model = LogisticRegression()

In [78]:
model.fit(X_train,y_train)

LogisticRegression()

In [79]:
#bias_term
model.intercept_

array([-0.10903758])

In [80]:
#weights_terms
model.coef_

array([[ 4.74719535e-01, -1.74870020e-01, -4.07532126e-01,
        -2.96849478e-02, -7.79976621e-02,  6.26859040e-02,
        -8.89769353e-02, -8.13915786e-02, -3.43123239e-02,
        -7.33702860e-02, -3.35204574e-01,  3.16498900e-01,
        -8.89769353e-02,  3.67466529e-03, -2.58140670e-01,
         1.41436236e-01,  9.02182437e-03,  6.25324839e-02,
        -8.89769353e-02, -8.12381585e-02,  2.65585278e-01,
        -8.89769353e-02, -2.84290953e-01, -2.31209398e-01,
         1.23526788e-01, -1.66020934e-01,  5.83383240e-02,
        -8.70078334e-02, -3.20586331e-02,  7.04908467e-02,
        -5.91069901e-02,  1.41436236e-01, -2.49118846e-01,
         2.15471357e-01, -1.20360509e-01, -8.89769353e-02,
         1.01654834e-01, -7.08909053e-02, -8.89769353e-02,
         5.21852307e-02,  2.13382385e-01, -8.89769353e-02,
        -2.32088059e-01, -7.04076476e-02,  3.82392561e-04]])

In [81]:
y_pred = model.predict_proba(X_val)[:,1]

In [82]:
y_pred.shape

(1409,)

In [83]:
churn_decision = y_pred >=0.5

In [84]:
churn_decision

array([False, False, False, ..., False,  True,  True])

In [85]:
churn_decision.shape

(1409,)

In [86]:
(y_val==churn_decision).mean()

0.8034066713981547

In [87]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = churn_decision.astype(int)
df_pred['actual'] = y_val

In [88]:
df_pred['correct'] = df_pred['prediction'] == df_pred['actual']

In [89]:
df_pred

      probability  prediction  actual  correct
0        0.008997           0       0     True
1        0.204509           0       0     True
2        0.212210           0       0     True
3        0.543050           1       1     True
4        0.213774           0       0     True
...           ...         ...     ...      ...
1404     0.313666           0       0     True
1405     0.039358           0       1    False
1406     0.136387           0       0     True
1407     0.799770           1       1     True
1408     0.837407           1       1     True

[1409 rows x 4 columns]

In [90]:
df_pred.correct.mean()

0.8034066713981547

3.11 Model interpretation

Look at the coefficients

Train a smaller model with fewer features

In [96]:
a = ['2504','23694','23345','2332']
b = ['a','b','c','d']
s = list(zip(a,b))

In [97]:
s

[('2504', 'a'), ('23694', 'b'), ('23345', 'c'), ('2332', 'd')]

In [98]:
dict(zip(dv.get_feature_names(),model.coef_[0].round(3)))

{'contract=month-to-month': 0.475,
 'contract=one_year': -0.175,
 'contract=two_year': -0.408,
 'dependents=no': -0.03,
 'dependents=yes': -0.078,
 'deviceprotection=no': 0.063,
 'deviceprotection=no_internet_service': -0.089,
 'deviceprotection=yes': -0.081,
 'gender=female': -0.034,
 'gender=male': -0.073,
 'internetservice=dsl': -0.335,
 'internetservice=fiber_optic': 0.316,
 'internetservice=no': -0.089,
 'monthlycharges': 0.004,
 'multiplelines=no': -0.258,
 'multiplelines=no_phone_service': 0.141,
 'multiplelines=yes': 0.009,
 'onlinebackup=no': 0.063,
 'onlinebackup=no_internet_service': -0.089,
 'onlinebackup=yes': -0.081,
 'onlinesecurity=no': 0.266,
 'onlinesecurity=no_internet_service': -0.089,
 'onlinesecurity=yes': -0.284,
 'paperlessbilling=no': -0.231,
 'paperlessbilling=yes': 0.124,
 'partner=no': -0.166,
 'partner=yes': 0.058,
 'paymentmethod=bank_transfer_(automatic)': -0.087,
 'paymentmethod=credit_card_(automatic)': -0.032,
 'paymentmethod=electronic_check': 0.07,
 'paymentmethod=mailed_check': -0.059,
 'phoneservice=no': 0.141,
 'phoneservice=yes': -0.249,
 'seniorcitizen': 0.215,
 'streamingmovies=no': -0.12,
 'streamingmovies=no_internet_service': -0.089,
 'streamingmovies=yes': 0.102,
 'streamingtv=no': -0.071,
 'streamingtv=no_internet_service': -0.089,
 'streamingtv=yes': 0.052,
 'techsupport=no': 0.213,
 'techsupport=no_internet_service': -0.089,
 'techsupport=yes': -0.232,
 'tenure': -0.07,
 'totalcharges': 0.0}

In [91]:
model.coef_[0].round(3)

array([ 0.475, -0.175, -0.408, -0.03 , -0.078,  0.063, -0.089, -0.081,
       -0.034, -0.073, -0.335,  0.316, -0.089,  0.004, -0.258,  0.141,
        0.009,  0.063, -0.089, -0.081,  0.266, -0.089, -0.284, -0.231,
        0.124, -0.166,  0.058, -0.087, -0.032,  0.07 , -0.059,  0.141,
       -0.249,  0.215, -0.12 , -0.089,  0.102, -0.071, -0.089,  0.052,
        0.213, -0.089, -0.232, -0.07 ,  0.   ])

In [99]:
small = ['contract','tenure','monthlycharges']

In [104]:
dicts_train_small = df_train[small].to_dict(orient='records')
dicts_val_small = df_val[small].to_dict(orient='records')

In [105]:
dicts_train_small

[{'contract': 'two_year', 'tenure': 72, 'monthlycharges': 115.5},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 95.25},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 75.55},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 80.85},
 {'contract': 'two_year', 'tenure': 18, 'monthlycharges': 20.1},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 30.5},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 75.1},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 70.3},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 19.75},
 {'contract': 'month-to-month', 'tenure': 6, 'monthlycharges': 109.9},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 99.9},
 {'contract': 'month-to-month', 'tenure': 17, 'monthlycharges': 102.55},
 {'contract': 'two_year', 'tenure': 66, 'monthlycharges': 58.2},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 68.95},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 20.15},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 70.7},
 {'contract': 'two_year', 'tenure': 71, 'monthlycharges': 19.6},
 {'contract': 'month-to-month', 'tenure': 32, 'monthlycharges': 90.95},
 {'contract': 'one_year', 'tenure': 53, 'monthlycharges': 105.25},
 {'contract': 'two_year', 'tenure': 56, 'monthlycharges': 103.2},
 {'contract': 'month-to-month', 'tenure': 61, 'monthlycharges': 106.45},
 {'contract': 'one_year', 'tenure': 41, 'monthlycharges': 50.05},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 44.9},
 {'contract': 'two_year', 'tenure': 3, 'monthlycharges': 71.1},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 94.6},
 {'contract': 'two_year', 'tenure': 12, 'monthlycharges': 21.05},
 {'contract': 'month-to-month', 'tenure': 41, 'monthlycharges': 98.05},
 {'contract': 'month-to-month', 'tenure': 47, 'monthlycharges': 85.2},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 20.3},
 {'contract': 'one_year', 'tenure': 66, 'monthlycharges': 70.85},
 {'contract': 'month-to-month', 'tenure': 8, 'monthlycharges': 59.25},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 19.9},
 {'contract': 'one_year', 'tenure': 35, 'monthlycharges': 40.9},
 {'contract': 'one_year', 'tenure': 67, 'monthlycharges': 107.05},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 31.35},
 {'contract': 'one_year', 'tenure': 46, 'monthlycharges': 103.15},
 {'contract': 'one_year', 'tenure': 37, 'monthlycharges': 80.05},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 90.6},
 {'contract': 'month-to-month', 'tenure': 35, 'monthlycharges': 75.35},
 {'contract': 'month-to-month', 'tenure': 43, 'monthlycharges': 94.1},
 {'contract': 'month-to-month', 'tenure': 20, 'monthlycharges': 20.35},
 {'contract': 'month-to-month', 'tenure': 64, 'monthlycharges': 81.05},
 {'contract': 'month-to-month', 'tenure': 6, 'monthlycharges': 44.4},
 {'contract': 'month-to-month', 'tenure': 9, 'monthlycharges': 55.35},
 {'contract': 'month-to-month', 'tenure': 18, 'monthlycharges': 25.55},
 {'contract': 'one_year', 'tenure': 46, 'monthlycharges': 94.15},
 {'contract': 'month-to-month', 'tenure': 9, 'monthlycharges': 70.05},
 {'contract': 'two_year', 'tenure': 69, 'monthlycharges': 20.15},
 {'contract': 'month-to-month', 'tenure': 32, 'monthlycharges': 19.45},
 {'contract': 'two_year', 'tenure': 67, 'monthlycharges': 75.5},
 {'contract': 'two_year', 'tenure': 69, 'monthlycharges': 80.65},
 {'contract': 'month-to-month', 'tenure': 6, 'monthlycharges': 80.5},
 {'contract': 'one_year', 'tenure': 30, 'monthlycharges': 40.35},
 {'contract': 'month-to-month', 'tenure': 30, 'monthlycharges': 54.45},
 {'contract': 'one_year', 'tenure': 58, 'monthlycharges': 45.35},
 {'contract': 'month-to-month', 'tenure': 18, 'monthlycharges': 90.1},
 {'contract': 'month-to-month', 'tenure': 34, 'monthlycharges': 71.55},
 {'contract': 'one_year', 'tenure': 2, 'monthlycharges': 20.2},
 {'contract': 'two_year', 'tenure': 10, 'monthlycharges': 20.15},
 {'contract': 'two_year', 'tenure': 71, 'monthlycharges': 99.0},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 60.95},
 {'contract': 'two_year', 'tenure': 46, 'monthlycharges': 21.1},
 {'contract': 'month-to-month', 'tenure': 49, 'monthlycharges': 74.6},
 {'contract': 'two_year', 'tenure': 65, 'monthlycharges': 59.95},
 {'contract': 'month-to-month', 'tenure': 15, 'monthlycharges': 74.9},
 {'contract': 'one_year', 'tenure': 58, 'monthlycharges': 103.25},
 {'contract': 'one_year', 'tenure': 66, 'monthlycharges': 54.8},
 {'contract': 'two_year', 'tenure': 66, 'monthlycharges': 19.7},
 {'contract': 'one_year', 'tenure': 68, 'monthlycharges': 19.5},
 {'contract': 'one_year', 'tenure': 45, 'monthlycharges': 102.15},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 20.2},
 {'contract': 'month-to-month', 'tenure': 11, 'monthlycharges': 79.5},
 {'contract': 'month-to-month', 'tenure': 18, 'monthlycharges': 99.75},
 {'contract': 'two_year', 'tenure': 71, 'monthlycharges': 97.2},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 80.8},
 {'contract': 'month-to-month', 'tenure': 13, 'monthlycharges': 56.0},
 {'contract': 'two_year', 'tenure': 50, 'monthlycharges': 20.15},
 {'contract': 'month-to-month', 'tenure': 12, 'monthlycharges': 50.95},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 43.85},
 {'contract': 'one_year', 'tenure': 7, 'monthlycharges': 19.9},
 {'contract': 'one_year', 'tenure': 71, 'monthlycharges': 105.75},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 80.55},
 {'contract': 'month-to-month', 'tenure': 21, 'monthlycharges': 104.35},
 {'contract': 'month-to-month', 'tenure': 12, 'monthlycharges': 86.55},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 50.5},
 {'contract': 'month-to-month', 'tenure': 33, 'monthlycharges': 95.0},
 {'contract': 'month-to-month', 'tenure': 46, 'monthlycharges': 72.8},
 {'contract': 'one_year', 'tenure': 44, 'monthlycharges': 61.5},
 {'contract': 'two_year', 'tenure': 70, 'monthlycharges': 88.55},
 {'contract': 'one_year', 'tenure': 7, 'monthlycharges': 49.75},
 {'contract': 'month-to-month', 'tenure': 18, 'monthlycharges': 69.8},
 {'contract': 'one_year', 'tenure': 54, 'monthlycharges': 65.25},
 {'contract': 'month-to-month', 'tenure': 35, 'monthlycharges': 33.45},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 70.25},
 {'contract': 'month-to-month', 'tenure': 35, 'monthlycharges': 86.45},
 {'contract': 'one_year', 'tenure': 39, 'monthlycharges': 25.25},
 {'contract': 'month-to-month', 'tenure': 19, 'monthlycharges': 48.8},
 {'contract': 'month-to-month', 'tenure': 21, 'monthlycharges': 36.0},
 {'contract': 'one_year', 'tenure': 43, 'monthlycharges': 104.3},
 {'contract': 'month-to-month', 'tenure': 19, 'monthlycharges': 95.9},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 112.6},
 {'contract': 'month-to-month', 'tenure': 59, 'monthlycharges': 101.1},
 {'contract': 'two_year', 'tenure': 11, 'monthlycharges': 19.65},
 {'contract': 'month-to-month', 'tenure': 9, 'monthlycharges': 59.5},
 {'contract': 'two_year', 'tenure': 70, 'monthlycharges': 20.15},
 {'contract': 'month-to-month', 'tenure': 22, 'monthlycharges': 39.2},
 {'contract': 'two_year', 'tenure': 69, 'monthlycharges': 19.1},
 {'contract': 'month-to-month', 'tenure': 16, 'monthlycharges': 94.45},
 {'contract': 'one_year', 'tenure': 32, 'monthlycharges': 30.15},
 {'contract': 'two_year', 'tenure': 61, 'monthlycharges': 20.25},
 {'contract': 'month-to-month', 'tenure': 14, 'monthlycharges': 80.05},
 {'contract': 'month-to-month', 'tenure': 34, 'monthlycharges': 85.2},
 {'contract': 'two_year', 'tenure': 40, 'monthlycharges': 19.65},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 45.4},
 {'contract': 'two_year', 'tenure': 6, 'monthlycharges': 20.1},
 {'contract': 'month-to-month', 'tenure': 39, 'monthlycharges': 50.75},
 {'contract': 'two_year', 'tenure': 56, 'monthlycharges': 24.15},
 {'contract': 'one_year', 'tenure': 36, 'monthlycharges': 63.7},
 {'contract': 'one_year', 'tenure': 44, 'monthlycharges': 53.95},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 69.95},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 75.9},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 109.55},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 19.2},
 {'contract': 'month-to-month', 'tenure': 71, 'monthlycharges': 105.1},
 {'contract': 'month-to-month', 'tenure': 17, 'monthlycharges': 78.9},
 {'contract': 'one_year', 'tenure': 26, 'monthlycharges': 56.05},
 {'contract': 'month-to-month', 'tenure': 29, 'monthlycharges': 76.0},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 68.75},
 {'contract': 'month-to-month', 'tenure': 24, 'monthlycharges': 99.65},
 {'contract': 'two_year', 'tenure': 11, 'monthlycharges': 25.0},
 {'contract': 'one_year', 'tenure': 51, 'monthlycharges': 76.4},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 50.05},
 {'contract': 'month-to-month', 'tenure': 43, 'monthlycharges': 86.1},
 {'contract': 'month-to-month', 'tenure': 16, 'monthlycharges': 85.35},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 60.95},
 {'contract': 'one_year', 'tenure': 64, 'monthlycharges': 104.4},
 {'contract': 'month-to-month', 'tenure': 12, 'monthlycharges': 56.65},
 {'contract': 'month-to-month', 'tenure': 18, 'monthlycharges': 74.8},
 {'contract': 'one_year', 'tenure': 65, 'monthlycharges': 110.0},
 {'contract': 'month-to-month', 'tenure': 29, 'monthlycharges': 100.55},
 {'contract': 'month-to-month', 'tenure': 44, 'monthlycharges': 84.8},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 70.75},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 45.0},
 {'contract': 'month-to-month', 'tenure': 31, 'monthlycharges': 96.6},
 {'contract': 'one_year', 'tenure': 9, 'monthlycharges': 50.8},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 71.65},
 {'contract': 'two_year', 'tenure': 60, 'monthlycharges': 53.6},
 {'contract': 'one_year', 'tenure': 13, 'monthlycharges': 19.95},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 100.95},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 19.8},
 {'contract': 'month-to-month', 'tenure': 50, 'monthlycharges': 39.45},
 {'contract': 'two_year', 'tenure': 8, 'monthlycharges': 20.25},
 {'contract': 'month-to-month', 'tenure': 41, 'monthlycharges': 53.95},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 85.95},
 {'contract': 'one_year', 'tenure': 31, 'monthlycharges': 81.7},
 {'contract': 'month-to-month', 'tenure': 40, 'monthlycharges': 74.55},
 {'contract': 'month-to-month', 'tenure': 17, 'monthlycharges': 95.65},
 {'contract': 'month-to-month', 'tenure': 11, 'monthlycharges': 20.45},
 {'contract': 'month-to-month', 'tenure': 19, 'monthlycharges': 20.0},
 {'contract': 'month-to-month', 'tenure': 31, 'monthlycharges': 84.75},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 81.0},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 69.7},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 80.8},
 {'contract': 'one_year', 'tenure': 6, 'monthlycharges': 20.6},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 69.95},
 {'contract': 'one_year', 'tenure': 41, 'monthlycharges': 70.2},
 {'contract': 'two_year', 'tenure': 66, 'monthlycharges': 20.0},
 {'contract': 'month-to-month', 'tenure': 26, 'monthlycharges': 86.65},
 {'contract': 'one_year', 'tenure': 34, 'monthlycharges': 30.4},
 {'contract': 'two_year', 'tenure': 60, 'monthlycharges': 115.25},
 {'contract': 'month-to-month', 'tenure': 37, 'monthlycharges': 99.5},
 {'contract': 'one_year', 'tenure': 18, 'monthlycharges': 89.6},
 {'contract': 'one_year', 'tenure': 62, 'monthlycharges': 74.3},
 {'contract': 'two_year', 'tenure': 47, 'monthlycharges': 20.55},
 {'contract': 'one_year', 'tenure': 7, 'monthlycharges': 20.65},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 85.25},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 89.35},
 {'contract': 'month-to-month', 'tenure': 19, 'monthlycharges': 59.8},
 {'contract': 'one_year', 'tenure': 20, 'monthlycharges': 20.35},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 92.3},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 95.65},
 {'contract': 'one_year', 'tenure': 66, 'monthlycharges': 92.15},
 {'contract': 'month-to-month', 'tenure': 24, 'monthlycharges': 66.3},
 {'contract': 'one_year', 'tenure': 25, 'monthlycharges': 20.95},
 {'contract': 'month-to-month', 'tenure': 43, 'monthlycharges': 75.2},
 {'contract': 'month-to-month', 'tenure': 58, 'monthlycharges': 80.65},
 {'contract': 'month-to-month', 'tenure': 20, 'monthlycharges': 18.9},
 {'contract': 'one_year', 'tenure': 27, 'monthlycharges': 81.7},
 {'contract': 'month-to-month', 'tenure': 8, 'monthlycharges': 103.35},
 {'contract': 'month-to-month', 'tenure': 60, 'monthlycharges': 79.05},
 {'contract': 'one_year', 'tenure': 11, 'monthlycharges': 36.05},
 {'contract': 'month-to-month', 'tenure': 10, 'monthlycharges': 35.75},
 {'contract': 'two_year', 'tenure': 69, 'monthlycharges': 108.4},
 {'contract': 'two_year', 'tenure': 42, 'monthlycharges': 22.95},
 {'contract': 'one_year', 'tenure': 34, 'monthlycharges': 64.2},
 {'contract': 'one_year', 'tenure': 27, 'monthlycharges': 45.85},
 {'contract': 'month-to-month', 'tenure': 20, 'monthlycharges': 24.9},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 25.2},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 79.65},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 80.5},
 {'contract': 'two_year', 'tenure': 64, 'monthlycharges': 70.2},
 {'contract': 'one_year', 'tenure': 56, 'monthlycharges': 106.8},
 {'contract': 'month-to-month', 'tenure': 47, 'monthlycharges': 98.75},
 {'contract': 'two_year', 'tenure': 70, 'monthlycharges': 79.15},
 {'contract': 'two_year', 'tenure': 48, 'monthlycharges': 108.1},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 61.15},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 19.9},
 {'contract': 'month-to-month', 'tenure': 29, 'monthlycharges': 33.75},
 {'contract': 'month-to-month', 'tenure': 12, 'monthlycharges': 112.95},
 {'contract': 'month-to-month', 'tenure': 8, 'monthlycharges': 74.85},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 75.1},
 {'contract': 'two_year', 'tenure': 23, 'monthlycharges': 77.15},
 {'contract': 'month-to-month', 'tenure': 47, 'monthlycharges': 85.5},
 {'contract': 'month-to-month', 'tenure': 54, 'monthlycharges': 99.05},
 {'contract': 'one_year', 'tenure': 25, 'monthlycharges': 54.2},
 {'contract': 'month-to-month', 'tenure': 26, 'monthlycharges': 84.3},
 {'contract': 'two_year', 'tenure': 68, 'monthlycharges': 103.25},
 {'contract': 'one_year', 'tenure': 56, 'monthlycharges': 94.8},
 {'contract': 'one_year', 'tenure': 66, 'monthlycharges': 108.1},
 {'contract': 'month-to-month', 'tenure': 11, 'monthlycharges': 64.9},
 {'contract': 'one_year', 'tenure': 46, 'monthlycharges': 69.1},
 {'contract': 'month-to-month', 'tenure': 33, 'monthlycharges': 50.0},
 {'contract': 'month-to-month', 'tenure': 54, 'monthlycharges': 104.1},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 65.6},
 {'contract': 'month-to-month', 'tenure': 54, 'monthlycharges': 24.95},
 {'contract': 'month-to-month', 'tenure': 55, 'monthlycharges': 73.1},
 {'contract': 'one_year', 'tenure': 68, 'monthlycharges': 100.3},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 66.85},
 {'contract': 'two_year', 'tenure': 18, 'monthlycharges': 24.65},
 {'contract': 'month-to-month', 'tenure': 52, 'monthlycharges': 109.1},
 {'contract': 'one_year', 'tenure': 54, 'monthlycharges': 105.2},
 {'contract': 'one_year', 'tenure': 17, 'monthlycharges': 19.9},
 {'contract': 'one_year', 'tenure': 33, 'monthlycharges': 93.55},
 {'contract': 'one_year', 'tenure': 61, 'monthlycharges': 103.95},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 90.1},
 {'contract': 'two_year', 'tenure': 71, 'monthlycharges': 82.7},
 {'contract': 'two_year', 'tenure': 6, 'monthlycharges': 63.4},
 {'contract': 'two_year', 'tenure': 69, 'monthlycharges': 81.95},
 {'contract': 'month-to-month', 'tenure': 9, 'monthlycharges': 83.3},
 {'contract': 'month-to-month', 'tenure': 34, 'monthlycharges': 100.05},
 {'contract': 'two_year', 'tenure': 60, 'monthlycharges': 60.8},
 {'contract': 'one_year', 'tenure': 51, 'monthlycharges': 23.95},
 {'contract': 'two_year', 'tenure': 43, 'monthlycharges': 75.2},
 {'contract': 'one_year', 'tenure': 42, 'monthlycharges': 63.7},
 {'contract': 'month-to-month', 'tenure': 29, 'monthlycharges': 51.6},
 {'contract': 'month-to-month', 'tenure': 3, 'monthlycharges': 89.45},
 {'contract': 'one_year', 'tenure': 46, 'monthlycharges': 24.45},
 {'contract': 'month-to-month', 'tenure': 17, 'monthlycharges': 89.4},
 {'contract': 'one_year', 'tenure': 43, 'monthlycharges': 85.1},
 {'contract': 'month-to-month', 'tenure': 45, 'monthlycharges': 108.45},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 109.95},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 29.05},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 18.95},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 79.75},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 25.1},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 75.35},
 {'contract': 'month-to-month', 'tenure': 8, 'monthlycharges': 69.7},
 {'contract': 'month-to-month', 'tenure': 15, 'monthlycharges': 75.1},
 {'contract': 'month-to-month', 'tenure': 45, 'monthlycharges': 115.65},
 {'contract': 'month-to-month', 'tenure': 32, 'monthlycharges': 79.3},
 {'contract': 'one_year', 'tenure': 15, 'monthlycharges': 50.75},
 {'contract': 'one_year', 'tenure': 19, 'monthlycharges': 87.7},
 {'contract': 'month-to-month', 'tenure': 8, 'monthlycharges': 100.6},
 {'contract': 'month-to-month', 'tenure': 9, 'monthlycharges': 58.5},
 {'contract': 'month-to-month', 'tenure': 41, 'monthlycharges': 106.5},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 86.2},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 20.6},
 {'contract': 'one_year', 'tenure': 28, 'monthlycharges': 92.9},
 {'contract': 'month-to-month', 'tenure': 67, 'monthlycharges': 101.4},
 {'contract': 'two_year', 'tenure': 72, 'monthlycharges': 111.65},
 {'contract': 'two_year', 'tenure': 63, 'monthlycharges': 97.45},
 {'contract': 'two_year', 'tenure': 47, 'monthlycharges': 20.05},
 {'contract': 'two_year', 'tenure': 15, 'monthlycharges': 19.35},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 70.05},
 {'contract': 'month-to-month', 'tenure': 5, 'monthlycharges': 51.0},
 {'contract': 'month-to-month', 'tenure': 24, 'monthlycharges': 79.85},
 {'contract': 'month-to-month', 'tenure': 4, 'monthlycharges': 70.65},
 {'contract': 'month-to-month', 'tenure': 24, 'monthlycharges': 79.85},
 {'contract': 'one_year', 'tenure': 40, 'monthlycharges': 103.75},
 {'contract': 'month-to-month', 'tenure': 14, 'monthlycharges': 86.3},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 45.3},
 {'contract': 'month-to-month', 'tenure': 25, 'monthlycharges': 65.8},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 34.5},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 20.25},
 {'contract': 'two_year', 'tenure': 27, 'monthlycharges': 19.85},
 {'contract': 'month-to-month', 'tenure': 1, 'monthlycharges': 19.3},
 {'contract': 'month-to-month', 'tenure': 7, 'monthlycharges': 71.35},
 {'contract': 'two_year', 'tenure': 55, 'monthlycharges': 85.1},
 {'contract': 'month-to-month', 'tenure': 2, 'monthlycharges': 80.15},
 {'contract': 'month-to-month', 'tenure': 23, 'monthlycharges': 85.6},

In [106]:
dv_small = DictVectorizer(sparse=False)
dv_small.fit(dicts_train_small)

DictVectorizer(sparse=False)

In [107]:
dv_small.get_feature_names()

['contract=month-to-month',
 'contract=one_year',
 'contract=two_year',
 'monthlycharges',
 'tenure']

In [108]:
X_train_small = dv_small.transform(dicts_train_small)
X_val_small = dv_small.transform(dicts_val_small)

In [112]:
model_small = LogisticRegression()
model_small.fit(X_train_small,y_train)

LogisticRegression()

In [114]:
w0 = model_small.intercept_[0]
w0

-2.476775662425276

In [118]:
w = model_small.coef_[0]
w

array([ 0.97004492, -0.02513651, -0.94872202,  0.02748236, -0.03618424])

In [119]:
dict(zip(dv_small.get_feature_names(),w.round(3)))

{'contract=month-to-month': 0.97,
 'contract=one_year': -0.025,
 'contract=two_year': -0.949,
 'monthlycharges': 0.027,
 'tenure': -0.036}

In [126]:
z = -2.47 + 0.97 + 50*0.027 + 5*-0.036

In [128]:
sigmoid(z)

0.41824062315816374